div {
    text-align: center;
}

h1 {
    font-size: 80px;
    font-family: Impact;
}

p {
    font-size: 35px;
}

button {
    width: 250px;
    height: 80px;
    background-color: rgb(171, 147, 116);
    color: white;
    border: 1px solid rgb(171, 147, 116);
    border-radius: 20px !important;
}

header{
    background-image: url(../img/4.jpg);
    background-position: center center;
    background-size: cover;
    position: relative;
    height: 100vh;


}
h1{
    color:rgb(197, 188, 176) ;
}
p{
    color:rgb(197, 188, 176) 
}
#auther{
    color:rgb(229, 179, 129) ;
}
.layout{
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
}

button:hover {
    background-color:rgb(197, 188, 176) ;
}

